<!-- Main header section container -->
<div class="gfort-section-header-container">

    <!-- Header menu section -->
    <div class="gfort-section-header-menu">
        <!-- Header menu section container -->
        <div class="gfort-section-header-menu-container">
            <!-- Navbar -->
            <nav class="gfort-navbar gfort-navbar-expand-lg">


                <!-- container -->
                <div class="container secondary-font-family">


                    <!-- Logo -->
                    <a class="gfort-navbar-brand" href="{{ path('home') }}" title="Expanding Leadership Coaching Training">
                        <img src="/new-assets/images/header/logo-dark.png" alt="Alex Barba Coaching Logo" class="gfort-navbar-brand-normal" />
                        <img src="/new-assets/images/header/logo.png" alt="Alex Barba Coaching Logo" class="gfort-navbar-brand-transparent" />
                    </a><!-- /End Logo -->


                    <!-- Toggler button -->
                    <button class="gfort-navbar-toggler" type="button" data-toggle="collapse" data-target="#gfort-navbar-collapse">
                        <span class="gfort-navbar-toggler-wd">MENU</span>
                        <span class="gfort-navbar-toggler-lines-wrapper">
                                            <i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-top"></i>
                                            <i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-middle"></i>
                                            <i class="gfort-navbar-toggler-line gfort-navbar-toggler-line-bottom"></i>
                                        </span>
                    </button><!-- /End Toggler button -->


                    <!-- Header menu (Desktop) -->
                    <div class="gfort-navbar-collapse gfort-navbar-collapse-desktop-menu">


                        <!-- Header menu links -->
                        <ul class="gfort-navbar-nav ml-auto">

                            <!-- Your Organization -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ homelink }}#YourOrganization"><span>Your Organization</span></a>
                            </li>

                            <!-- Approach -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ homelink }}#Approach"><span>Approach</span></a>
                            </li>

                            <!-- Services -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ homelink }}#Services"><span>Services</span></a>
                            </li>

                            <!-- Clients -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ homelink }}#Clients"><span>Clients</span></a>
                            </li>

                            <!-- Testimonials -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ homelink }}#Testimonials"><span>Testimonials</span></a>
                            </li>

{#                            <!-- Saboteurs -->#}
{#                            <li class="gfort-nav-item">#}
{#                                <a class="gfort-nav-link data-gfort-scroll" href="{{ path('saboteurs') }}"><span>The saboteurs</span></a>#}
{#                            </li>#}

                            <!-- About -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ path('about') }}"><span>About</span></a>
                            </li>

                            <!-- Contact -->
                            <li class="gfort-nav-item">
                                <a class="gfort-nav-link data-gfort-scroll" href="{{ path('contact') }}"><span>Contact</span></a>
                            </li>

                        </ul><!-- /End Header menu links -->


                    </div><!-- /End Header menu -->


                </div><!-- /End container -->


                <!-- Header menu (Mobile) -->
                <div class="collapse gfort-navbar-collapse gfort-navbar-collapse-mobile-menu" id="gfort-navbar-collapse">
                </div><!-- /End Header menu (Mobile) -->


            </nav><!-- /End Navbar -->
        </div><!-- /End Header menu section container -->
    </div><!-- /End Header menu section -->


</div><!-- /End Main header section container -->