<!-- Section -->
<div class="gfort-section gfort-section-2x-padding grey-1-bg-color" id="Contact">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- col-lg-12 -->
            <div class="col-lg-12">


                <!-- Section title -->
                <div class="gfort-block gfort-block-section-title gfort-text-center">
                    <!-- Block container -->
                    <div class="gfort-block-container">

                        <!-- Block body -->
                        <div class="gfort-block-body gfort-block-section-title-body">

                            <!-- Block heading -->
                            <div class="gfort-block-heading gfort-block-section-title-heading">
                                <h2>Save Your Spot Now</h2>
                            </div><!-- /End Block heading -->

                        </div><!--/End Block body -->

                    </div><!-- /End Block container -->
                </div><!-- /End Section title -->


                <!-- GAP -->
                <div class="gfort-gap gfort-gap-36"></div>


            </div><!-- /End col-lg-12 -->


            <!-- col-lg-8 -->
            <div class="col-lg-8 offset-lg-2">


                <!-- Contact form -->
                <div class="gfort-form-block gfort-form-block-validation gfort-form-block-contact" data-gfort-contact-form-redirect-url="/thank-you">
                    <!-- Form container -->
                    <div class="gfort-form-block-container">
                        <!-- Form -->
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'margin': 0, 'padding': 0} } ) }}
                            {% if error is not empty %}
                                <div class="form-warning-panel font-color-alert">
                                    {{ error }}
                                </div>
                            {% endif %}

                            <!-- Name -->
                            <div class="col-lg-12">
                                <label class="gfort-label">
                                    Name <span class="red-color">*</span>
                                    {{ form_widget(form.name, { 'attr': {'class' : 'gfort-form-control' } }) }}
                                    {{ form_errors(form.name, { 'attr': {'class' : 'error'} }) }}
                                </label>
                            </div><!-- /End Name -->


                            <!-- Email address -->
                            <div class="col-lg-12">
                                <label class="gfort-label">
                                    Email address <span class="red-color">*</span>
                                    {{ form_widget(form.email, { 'attr': {'class' : 'gfort-form-control' } }) }}
                                    {{ form_errors(form.email, { 'attr': {'class' : 'error'} }) }}
                                </label>
                            </div><!-- /End Email address -->


                            <!-- Phone -->
                            <div class="col-lg-12">
                                <label class="gfort-label">
                                    Phone <span class="red-color">*</span>
                                    {{ form_widget(form.phone, { 'attr': {'class' : 'gfort-form-control' } }) }}
                                    {{ form_errors(form.phone, { 'attr': {'class' : 'error'} }) }}
                                </label>
                            </div><!-- /End Subject -->


                            <!-- Message -->
                            <div class="col-lg-12">
                                <label class="gfort-label">
                                    Desired path and motivation <span class="red-color">*</span>
                                    {{ form_widget(form.message, { 'attr': {'class' : 'gfort-form-control', 'rows' : '8' } }) }}
                                    {{ form_errors(form.message, { 'attr': {'class' : 'error'} }) }}
                                </label>
                            </div><!-- /End Message -->


                            <!-- reCaptcha -->
{#                            <input class="g-recaptcha-response" type="hidden" name="g-recaptcha-response">#}


                            <!-- Submit button -->
                            <div class="col-lg-12 gfort-text-center">
                                {{ form_widget(form.submit, { 'label': 'Save Your Spot Now ', 'attr': {'class' : 'gfort-btn gfort-btn-primary gfort-btn-block gfort-btn-width-auto-lg gfort-btn-round' } }) }}
                            </div><!-- /End Submit button -->

                        {{ form_end(form) }}
                    </div><!-- /End Form container -->
                </div><!-- /End Contact form -->


            </div><!-- /End col-lg-8 -->


        </div><!-- /End row -->
    </div><!-- /End container -->
</div><!-- /End Section -->


{#{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'margin': 0, 'padding': 0, 'class': 'comment-form'} } ) }}#}

{#                                {% if error is not empty %}#}
{#                                    <div class="form-warning-panel font-color-alert">#}
{#                                        {{ error }}#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                                {% if action == 'contact-request-successful' %}#}
{#                                    <div class="form-warning-panel">#}
{#                                        <span class="font-weight-bold">Congratulations! </span>#}
{#                                        <br>#}
{#                                        Your contact request has been successfully received!#}
{#                                        <br>#}
{#                                        I'll be back to you within 48 hours.#}
{#                                    </div>#}

{#                                    <!-- Event snippet for Website lead conversion page -->#}
{#                                    <script>#}
{#                                        gtag('event', 'conversion', {'send_to': 'AW-639405002/osGwCPn5zM8BEMqX8rAC'});#}
{#                                    </script>#}
{#                                {% endif %}#}

{#<div class="content-container">#}
{#    {{ form_widget(form.name, { 'attr': {'class' : 'input-class input-text', 'placeholder' : 'Your name *' } }) }}#}
{#    {{ form_errors(form.name, { 'attr': {'class' : 'error'} }) }}#}

{#    {{ form_widget(form.email, { 'attr': {'class' : 'input-class input-text', 'placeholder' : 'Your email *' } }) }}#}
{#    {{ form_errors(form.email, { 'attr': {'class' : 'error'} }) }}#}

{#    {{ form_widget(form.phone, { 'attr': {'class' : 'input-class input-text', 'placeholder' : 'Your phone *' } }) }}#}
{#    {{ form_errors(form.phone, { 'attr': {'class' : 'error'} }) }}#}

{#    {{ form_widget(form.message, { 'attr': {'class' : 'input-class input-textarea', 'placeholder' : 'Your message *' } }) }}#}
{#    {{ form_errors(form.message, { 'attr': {'class' : 'error'} }) }}#}
{#</div>#}
{#<div class="send-button-container">#}
{#    {{ form_widget(form.submit, { 'attr': {'class' : 'button', 'value' : 'Send' } }) }}#}
{#</div>#}
{#{{ form_end(form) }}#}