{% extends 'Layout/BaseLayout.html.twig' %}

{% block body %}
    <div id="content">

        {% for post in posts %}
            <div class="post-container">
                <div class="categories">
                    <div class="vertical-text-container">
                        {% for category in post.categories %}
                            <span class="category {{ category.color }}">{{ category.title }}</span>
                        {% endfor %}
                        <div class="line"></div>
                    </div>
                </div>

                <div class="post">
                    <a href="{{ path('post', {postName: post.urlSlug}) }}" class="link">
                        <img class="image"
                             src="{{ asset( post.image.imageUrl ) }}">
                        <div class="title">
                            {{ post.title }}
                        </div>
                        <div class="description">
                            {{ post.description|raw }}
                        </div>
                    </a>
                    <div class="info">
                        {#45 comments #}
                        {{ post.created|localizeddate('long', 'none', app.request.locale) }}
                    </div>
                </div>

                <div class="post-separator"></div>
            </div>
        {% endfor %}

        <div class="pagination-container">
{#            <div class="previous">previous</div>#}
{#            <div class="separator"></div>#}
{#            <div class="next">next</div>#}
        </div>
    </div>
{% endblock %}